
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">
        <div class="row">
            <div class="cold-md-9">
                <div class="row">
                    <div class="section-title">
                        <h3 class="title">ABOUT US</h3>
                    </div>
                    <p>
                        As Europe's number one electronics retailer by far, DigitalMarket offers our customers the numerous advantages of merchandising and online retailing, from computers and mobile phones to television and display systems, from home theater systems to cameras and cameras, from game consoles to white goods and small household appliances.
                    </p>
                    <p>
                        DigitalMarket continues to lead the industry by continuously investing in its brand and employees, raising expert human resources, pioneering innovative services for customer satisfaction, creating the most appropriate channel structure and product mix according to the needs of consumers, and taking bold steps.
                    </p>
                </div>
            </div>
        </div>
    </div>